<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title data-tf="@head_title"></title>
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<h1>Showing Tablet</h1>
<dt>UserId</dt><dd data-tf="@userid">(userId)</dd><br />
<dt>Username</dt><dd data-tf="@username">(username)</dd><br />
<dt>Password</dt><dd data-tf="@password">(password)</dd><br />
<dt>Name</dt><dd data-tf="@name">(name)</dd><br />

<a href="#" data-tf="@link_to_edit">Edit</a> |
<a href="#" data-tf="@link_to_index">Back</a>

</body>
</html>
