{% extends "rehabrobot/generic.html" %}

{% block content%}

<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
	<button type="button" style="background-color: #ffffff; margin: 100px 10px 10px 10px; padding: 7em;"  class="btn btn-raised btn-lg" id="userguide">Download User Guide</button>
	<button type="button" style="background-color: #ffffff; margin: 100px 10px 10px 10px; padding: 7em;"  class="btn btn-raised btn-lg" id="technicalguide">Download Technical Guide</button>
</div>

{% endblock %}